.container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  /* margin: 4rem; */
  /* background-image: url("./images/MAYA.jpg"); */
  background-color: #f9d7ce;
  background-size: contain;
}

button:hover {
  filter: brightness(29%);
  color: white;
}
