::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

:root {
  --defailt:   background-color: rgba(0, 0, 0, 0.3);
  
  --correct: green;
  --wrong: red;
  --maybe: rgb(247, 223, 14);
}

.btn--normal {
  background: var(--defailt);
}

.btn--green {
  background: var(--correct);
}

.btn--red {
  background: var(--wrong);
}

.btn--purple {
  background: var(--maybe);
}

.track {
  height: 100%;
  width: 33.3%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
}

.t-buttons {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);

  display: none;
  flex-direction: row;
  grid-column: flex-end;
}

.color-pad {
  display: grid;
  grid-template-columns: repeat(3, 3rem);
  grid-template-rows: repeat(4, 3rem);
  width: 15rem;
  height: 15rem;
  gap: 2px;
  justify-content: center;
  margin: 8rem;
  padding: 0;
}

button{
  background-color: rgba(0, 0, 0, 0.3);

}

.key {
  height: 100%;
  width: 100%;
  border: black solid 1px;
}

.key:hover,
.key:focus {
  filter: brightness(120%);
  cursor: pointer;
}
